[submodule "vendor/cucumber.el"]
	path = vendor/cucumber.el
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "vendor/coffee-mode"]
	path = vendor/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "vendor/haml-mode"]
	path = vendor/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "vendor/handlebars-mode"]
	path = vendor/handlebars-mode
	url = https://github.com/danielevans/handlebars-mode.git
[submodule "vendor/lua-mode"]
	path = vendor/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "vendor/yaml-mode"]
	path = vendor/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "vendor/nxhtml"]
	path = vendor/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/git-modes"]
	path = vendor/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "vendor/scss-mode"]
	path = vendor/scss-mode
	url = https://github.com/antonj/scss-mode.git
[submodule "vendor/go-mode.el"]
	path = vendor/go-mode.el
	url = https://github.com/dominikh/go-mode.el
[submodule "vendor/web-mode"]
	path = vendor/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "vendor/emacs-slim"]
	path = vendor/emacs-slim
	url = https://github.com/slim-template/emacs-slim
[submodule "vendor/emacs-elixir"]
	path = vendor/emacs-elixir
	url = https://github.com/elixir-lang/emacs-elixir.git
[submodule "vendor/markdown-mode"]
	path = vendor/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "vendor/syslog-mode"]
	path = vendor/syslog-mode
	url = git@github.com:vapniks/syslog-mode.git
[submodule "vendor/rjsx-mode"]
	path = vendor/rjsx-mode
	url = git@github.com:felipeochoa/rjsx-mode.git
[submodule "vendor/js2-mode"]
	path = vendor/js2-mode
	url = git@github.com:mooz/js2-mode.git
